.startQuote {
  display: flex;
  justify-content: center;
  & .startQuote__image {
    width: 480px;
  }
  & .startQuote__init {
    width: calc(100% - 480px);
    padding: 0 6%;
    max-width: 600px;
    & .startQuote__head {
      & .startQuote__title {
        font-size: 32px;
        font-family: 'BR Sonoma', sans-serif;
        font-weight: 700;
        padding: 15px 0px;
        line-height: 35px;
      }
      & > img {
        display: none;
      }
    }
    & .startQuote__paragraph {
      font-size: 14px;
      font-family: 'BR Sonoma', sans-serif;
      font-weight: 400;
    }
    & > .c_line {
      display: none;
    }
    & .startQuote__form {
      margin: 20px 0px;
    }
    & .startQuote__policy {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > a {
        color: #03050F;
        font-family: 'BR Sonoma', sans-serif;
        font-weight: 600;
        font-size: 12px;
      }
      & > .c_input__error {
        font-family: 'BR Sonoma', sans-serif;
        font-weight: 700;
        font-size: 10px;
        color: #FF1C44;
        letter-spacing: 1px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 900px) {
  .startQuote {
    & > .startQuote__image {
      display: none;
    }
    & > .startQuote__init {
      padding: 0 30px;
      width: 100%;
      & .startQuote__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .startQuote__title {
          font-size: 28px;
          font-family: 'BR Sonoma', sans-serif;
          font-weight: 700;
          padding: 15px 0px;
          line-height: 35px;
          & > br {
            display: none;
          }
        }
        & > img {
          display: block;
        }
      }
      & .startQuote__paragraph > br {
        display: none;
      }
      & > .c_line {
        display: block;
      }
    }
  }
}

@media (max-width: 500px) {
  .startQuote {
    & > .startQuote__init {
      padding: 0px;
    }
  }
}
